@import "../../../scss/variables.scss";

.title{
	font-weight: 500;
	color: inherit;
	line-height: 1.5;
}
.hero{
	font-size: 70px;
	@media (max-width: $maxTablet){
		font-size: 56px;
	}
	@media (max-width: $minTablet){
		font-size: 44px;
	}
}
.h1{
	font-size: 50px;
	@media (max-width: $maxTablet){
		font-size: 44px;
	}
	@media (max-width: $minTablet){
		font-size: 38px;
	}
}
.h2{
	font-size: 42px;
	@media (max-width: $maxTablet){
		font-size: 38px;
	}
}
.h3{
	font-size: 36px;
}
.h4{
	font-size: 30px;
	@media (max-width: $maxTablet){
		font-size: 24px;
	}
	@media (max-width: $minTablet){
		font-size: 20px;
	}
}
.h5{
	font-size: 24px;
}
.h6{
	font-size: 20px;
	@media (max-width: $minTablet){
		font-size: 18px;
	}
}
