@import '../../../scss/variables.scss';


.sectionHead {
    padding: 262px 0 100px;
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;

    @media (max-width: $maxTablet) {
        padding: 254px 0 90px;
    }

    @media (max-width: $maxMobile) {
        padding: 150px 0 90px;
    }

    .container {
        grid-column: var(--desktopWidth);
        display: flex;
        justify-content: space-between;

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
        }

        @media (max-width: $maxMobile) {
            flex-direction: column;
        }
    }

    .contentWrapper {
        max-width: 670px;

        @media (max-width: $maxTablet) {
            max-width: 540px;
        }
    }

    .titleWrapper {
        margin: 0 0 24px;
        max-width: 450px;

        @media (max-width: $minTablet) {
            margin: 0 0 20px;
            max-width: 330px;
        }
    }

    .titleWrapper p{
        width: 450px;
    }

    .linkWrapper {
        padding: 26px 0 0;
        @media (max-width: $maxTablet) {
            padding: 0;
        }

        @media (max-width: $maxMobile) {
            margin: 0 0 30px;
            order: -1;
        }

        .link {
            color: $black;
            position: relative;
            padding: 0 3px;
            font-size: 21px;

            &:hover {
                &:before {
                    height: 100%;
                }
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                background: $lightGreen;
                z-index: -1;
                width: 100%;
                height: 50%;
                transition: all 0.3s $cubic;
            }
        }
    }
}

.sectionBg {
    grid-column: 1 / -1;
    height: 100vh;
    max-height: 900px;

    @media (max-width: $maxMobile) {
        max-height: 290px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sectionServices {
    grid-column: 1 / -1;
    display: inherit;
    grid-template-columns: inherit;
    padding: 113px 0 200px;

    @media (max-width: $maxTablet) {
        padding: 82px 0 120px;
    }

    .contentWrapper {
        grid-column: 8 / 30;
        padding-top: 48px;

        @media (max-width: $maxLaptop) {
            grid-column: 4 / 29;

        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
        }

        .titleWrapper {
            margin: 0 0 16px;
            position: relative;

            &:before {
                content: attr(data-number);
                position: absolute;
                left: -54px;
                top: 50%;
                color: $gray;
                opacity: .5;
                transform: translateY(-50%);

                @media (max-width: $maxMobile) {
                    font-size: 13px;
                }
            }
        }
    }

    .list {
        li {
            padding-left: 54px;
            position: relative;
            max-width: 770px;
            &:not(:last-child){
                margin: 0 0 96px;
            }
            @media (max-width: $maxTablet) {
                max-width: 630px;
                margin: 0 0 86px;
            }
        }
    }

    .panel {
        grid-column: 33 / -1;
        background-color: #FBFBFB;
        padding: 202px 105px;

        @media (max-width: $maxTablet) {
            grid-column: 4 / -1;
            padding: 50px 64px;
        }

        @media (max-width: $maxMobile) {
            padding: 36px 20px 48px 30px;
        }

        .panelTitle {
            color: #141515;
            font-size: 30px;
            font-weight: 500;
            margin: 0 0 26px;

            @media (max-width: $maxTablet) {
                margin: 0 0 2px;
            }

            @media (max-width: $maxMobile) {
                font-size: 21px;
            }
        }

        .panelList {
            @media (max-width: $maxTablet) {
                display: flex;
                margin: 0;
            }

            @media (max-width: $maxMobile) {
                flex-wrap: wrap;
            }

            li {
                margin: 0 0 18px;
                font-size: 21px;
                color: #393939;
                font-family: "PT Sans", sans-serif;

                @media (max-width: $maxTablet) {
                    margin: 0;

                    &:not(:last-child):after {
                        content: ",";
                        display: inline-block;
                        margin: 0 4px 0 0;
                    }
                }

                @media (max-width: $maxMobile) {
                    font-size: 17px;
                }
            }
        }
    }
}

.sectionBgSecond {
    grid-column: 1 / -8;
    height: 715px;

    @media (max-width: $maxLaptop) {
        grid-column: 1 / -5;
    }

    @media (max-width: $maxTablet) {
        height: 435px;
        grid-column: 1 / -4;
    }

    @media (max-width: $maxMobile) {
        height: 290px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sectionWhat {
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    padding: 260px 0 215px;

    @media (max-width: $maxLaptop) {
        padding: 260px 0;
    }

    @media (max-width: $maxTablet) {
        padding: 120px 0;

    }

    .infoWrapper {
        grid-column: 10 / span 8;

        @media (max-width: $maxLaptop) {
            grid-column: 5 / span 9;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
            grid-row: 2 / 3;
        }

        .infoList {
            padding: 0;

            @media (max-width: $maxTablet) {
                display: flex;
                justify-content: space-between;
            }

            @media (max-width: $maxMobile) {
                flex-direction: column;
            }

            li {
                margin: 0 0 53px;

                @media (max-width: $maxTablet) {
                    margin: 0;

                    &:last-child {
                        flex-shrink: 0;
                    }
                }

                @media (max-width: $maxMobile) {
                    margin: 0 0 40px;
                }
            }

            .infoLabel {
                color: #212121;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 1.5px;
                margin: 0 0 16px;
                text-transform: none!important;

                @media (max-width: $maxMobile) {
                    margin: 0 0 12px;
                }
            }

            .infoText {
                letter-spacing: 0.8px;
                font-weight: 700;
                font-size: 30px;
                color: #141515;

                @media (max-width: $maxMobile) {
                    font-size: 21px;
                }
            }
        }
    }

    .contentWrapper {
        grid-column: 23 / -7;

        @media (max-width: $maxLaptop) {
            grid-column: 20 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
            grid-row: 1 / 2;
        }

        .titleWrapper {
            margin: 0 0 18px;
            @media (max-width: $maxMobile) {
                margin: 0 0 12px;
            }
        }

        .descWrapper {
            margin: 30px 0 100px;

            @media (max-width: $maxTablet) {
                margin: 0 0 65px;
            }
        }
    }

    .linkWrapper {
        grid-column: 23 / -7;
        font-size: 19px;    
        transform: translateY(-50px);
        @media (max-width: $maxLaptop) {
            grid-column: 20 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
            margin: 65px 0 0;
            transform: translateY(0);
        }

        @media (max-width: $maxMobile) {
            margin: 25px 0 0;
        }

    }
}

.sectionComment {
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    padding: 160px 0;
    background-color: #4562C9;
    color: #fff;

    @media (max-width: $maxMobile) {
        padding: 140px 0;
    }

    .container {
        grid-column: 6 / -6;

        @media (max-width: $maxMobile) {
            grid-column: 4 / -4;
        }
    }

    blockquote {
        max-width: 770px;
        margin: auto;
    }

    q {
        font-weight: 500;
        font-size: 28px;
        color: inherit;

        @media (max-width: $maxMobile) {
            font-size: 21px;
        }

        &:before {
            content: '«'
        }

        &:after {
            content: '»'
        }
    }

    .author {
        margin-top: 45px;
        display: flex;
        align-items: center;
        color: inherit;

        @media (max-width: $maxTablet) {
            margin-top: 25px;
        }

        .image {
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 0;
            margin-right: 22px;
            width: 66px;
            height: 66px;
        }

        .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.7;

            div {
                color: rgba(255, 255, 255, 0.8);
                font-weight: 400;
            }
            &>span {
                font-size: 18px;
                display: block;
                font-weight: 400;
                & a{
                    padding: 0 0 3px 0;
                    border-bottom: 2px solid rgba(255,255,255,0.4);
                }
            }
        }
    }
}

.sectionChallenge {
    padding: 156px 0 166px;
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;

    @media (max-width: $maxTablet) {
        padding: 180px 0;
    }

    .container {
        grid-column: var(--desktopWidth);

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: var(--desktopWidth);
        }

        @media (max-width: $maxMobile) {
            grid-column: 1 / -1;
        }


    }

    .contentWrapper {
        margin: 0 0 70px;
        max-width: 700px;
        padding-left: 34px;

        @media (max-width: $maxMobile) {
            padding: 0 calc(var(--cellSize) * 3);
            margin: 0 0 40px;
        }
    }

    .titleWrapper {
        margin: 0 0 14px;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: $maxTablet) {
            grid-template-columns: 1fr;
        }
    }

    .item {
        padding: 78px 15px 68px 49px;
        transition: all .3s $cubic;
        cursor: pointer;
        color: $black;

        @media (max-width: $maxTablet) {
            padding: 44px 15px 72px 45px;
        }

        @media (max-width: $maxMobile) {
            padding: 55px 20px 55px 44px;
        }

        &:hover {
            background-color: #F99F5F;
            color: #fff;
        }
    }

    .itemIcon {
        margin: 0 0 22px;

        svg {
            fill: currentColor;
            stroke: currentColor;
        }
        circle{
            fill: currentColor;
            stroke: currentColor;
        }
    }

    .itemTitle {
        font-size: 21px;
        font-weight: 500;
        margin: 0 0 18px;
        color: inherit;
    }

    .itemList {
        li {
            margin: 0 0 14px;
            position: relative;
            padding-left: 21px;
            letter-spacing: -0.4px;
            font-size: 16px;
            font-weight: 400;
            &:before {
                content: '';
                position: absolute;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: currentColor;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.sectionCheck {
    padding: 170px 0;
    background-image: url(../../../static/assets/images/velonto/velontoCheck-bg.jpg);
    background-size: cover;
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    background-position: right;

    @media (max-width: $maxLaptop) {
        background-position: center;
    }

    @media (max-width: $maxTablet) {
        padding: 150px 0;
    }

    @media (max-width: $maxMobile) {
        padding: 100px 0;
    }

    .container {
        grid-column: 8 / -8;

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
        }

        @media (max-width: $maxMobile) {
            grid-column: 4 / -4;
        }
    }

    .title {
        font-size: 50px;
        color: #fff;
        line-height: 1.6;
        font-weight: 500;

        @media (max-width: $maxTablet) {
            font-size: 38px;
        }

        @media (max-width: $maxMobile) {
            font-size: 30px;
        }
    }
}

.sectionMobile {
    padding: 180px 0 240px;
    grid-column: 1 / -1;
    grid-template-columns: inherit;
    display: inherit;
    background: rgba(164,169,182,0.1);
    @media (max-width: $maxTablet) {
        padding: 180px 0;
    }

    .contentWrapper {
        grid-column: 26 / 8;
        margin: 0 0 90px;
        padding-left: 20px;
        .titleWrapper {
            margin: 0 0 20px;

            @media (max-width: $maxMobile) {
                margin: 0 0 12px;
            }
        }

        @media (max-width: $maxLaptop) {
            grid-column: 25 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
            max-width: 540px;
            margin: 0 0 80px;
        }
    }

    .image {
        height: 715px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .image1 {
        margin: calc(var(--cellSize) * 3) 0 calc(var(--cellSize) * 2);
        grid-column: 1 / 21;

        @media (max-width: $maxLaptop) {
            grid-column: 1 / 22;
            margin: calc(var(--cellSize) * 2) 0 calc(var(--cellSize) * 1);
            height: 577px;
        }

        @media (max-width: $maxTablet) {
            margin: calc(var(--cellSize) * 1) 0 calc(var(--cellSize) * 1);
            height: 336px;
            grid-column: 6 / 26;
        }

        @media (max-width: $maxMobile) {
            margin: 0;
            height: 180px;
            grid-column: 6 / 26;
        }
    }

    .image4 {
        grid-column: 22 / -7;

        @media (max-width: $maxLaptop) {
            grid-column: 24 / -7;
            height: 577px;
        }

        @media (max-width: $maxTablet) {
            grid-column: 30 / -1;
            height: 336px;
        }

        @media (max-width: $maxMobile) {
            height: 180px;
            margin: calc(var(--cellSize) * 3) 0 0 0;
            grid-column: 28 / -1;
        }

    }

    .image2 {
        grid-column: 1 / 21;
        margin: calc(var(--cellSize) * 2) 0 0;
        
        @media (max-width: $maxLaptop) {
            grid-column: 1 / 22;
            margin: calc(var(--cellSize) * 1) 0 0;
            height: 577px;
        }

        @media (max-width: $maxTablet) {
            height: 336px;
            grid-column: 6 / 26;
        }

        @media (max-width: $maxMobile) {
            height: 180px;
            margin: calc(var(--cellSize) * -1) 0 0 0;
            grid-column: 6 / 26;
        }
    }

    .image3 {
        grid-column: 22 / -7;
        margin: calc(var(--cellSize) * -1) 0 0 0;
        @media (max-width: $maxLaptop) {
            grid-column: 24 / -5;
            height: 577px;
        }

        @media (max-width: $maxTablet) {
            grid-column: 30 / -1;
            margin: calc(var(--cellSize) * 0) 0 0 0;
            height: 336px;
        }

        @media (max-width: $maxMobile) {
            height: 180px;
            grid-column: 28 / -1;
            margin: calc(var(--cellSize) * 2) 0 0 0;
        }
    }
}

.sectionMobileApp {
    padding: 180px 0 240px;
    grid-column: 1 / -1;
    grid-template-columns: inherit;
    display: inherit;

    @media (max-width: $maxTablet) {
        padding: 180px 0;
    }

    .contentWrapper {
        grid-column: 26 / -8;
        margin: 0 0 90px;
        padding-left: 20px;
        .titleWrapper {
            margin: 0 0 20px;

            @media (max-width: $maxMobile) {
                margin: 0 0 12px;
            }
        }

        @media (max-width: $maxLaptop) {
            grid-column: 25 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
            max-width: 540px;
            margin: 0 0 80px;
        }
    }

    .image {
        height: 715px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .image1 {
        grid-column: 8 / -8;
        margin: 0 0 calc(var(--cellSize) * 2);

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
            height: 648px;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
            height: 403px;
        }

        @media (max-width: $maxMobile) {
            height: 202px;
        }
    }

    .image2 {
        grid-column: 8 / 22;

        @media (max-width: $maxLaptop) {
            grid-column: 5 / 22;
            height: 577px;
        }

        @media (max-width: $maxTablet) {
            height: 336px;
            grid-column: 4 / 22;
        }

        @media (max-width: $maxMobile) {
            height: 180px;
        }
    }

    .image3 {
        grid-column: 24 / -1;

        @media (max-width: $maxLaptop) {
            grid-column: 24 / -1;
            height: 577px;
        }

        @media (max-width: $maxTablet) {
            grid-column: 24 / -1;
            height: 336px;
        }

        @media (max-width: $maxMobile) {
            height: 180px;
        }
    }
}
.sectionWebApp {
    padding: 180px 0 240px;
    grid-column: 1 / -1;
    grid-template-columns: inherit;
    display: inherit;
    background: rgba(164,169,182,0.1);

    @media (max-width: $maxTablet) {
        padding: 180px 0;
    }

    .contentWrapper {
        grid-column: 8 / 26;
        margin: 0 0 90px;
        padding-left: 20px;
        .titleWrapper {
            margin: 0 0 20px;

            @media (max-width: $maxMobile) {
                margin: 0 0 12px;
            }
        }

        @media (max-width: $maxLaptop) {
            grid-column: 25 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
            max-width: 540px;
            margin: 0 0 80px;
        }
    }

    .image {
        height: 715px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .image1 {
        grid-column: 8 / -8;
        margin: 0 0 calc(var(--cellSize) * 2);

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
            height: 648px;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
            height: 403px;
        }

        @media (max-width: $maxMobile) {
            height: 202px;
        }
    }

    .image2 {
        grid-column: 8 / 22;

        @media (max-width: $maxLaptop) {
            grid-column: 5 / 22;
            height: 577px;
        }

        @media (max-width: $maxTablet) {
            height: 336px;
            grid-column: 4 / 22;
        }

        @media (max-width: $maxMobile) {
            height: 180px;
        }
    }
}
.sectionLanding {
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    padding: 114px 0 0;
    background-color: #4562C9;

    @media (max-width: $maxLaptop) {
        padding: 124px 0 0;
    }

    @media (max-width: $maxTablet) {
        padding: 171px 0 0;
    }

    @media (max-width: $maxMobile) {
        padding: 150px 0 0;
    }

    .contentWrapper {
        padding: 120px 120px 0;
        color: #fff;
        grid-column: 23 / -1;
        // max-width: 440px;

        @media (max-width: $maxLaptop) {
            order: 1;
            grid-column: 23 / -1;
        }
        @media (max-width: $maxTablet) {
            padding: 0 0 80px;
            max-width: 550px;
            grid-column: 4 / -4;
        }
    }

    .titleWrapper {
        margin: 0 0 14px;

        @media (max-width: $maxTablet) {
            margin: 0 0 20px;
        }

        @media (max-width: $maxMobile) {
            margin: 0 0 12px;
        }
    }

    .imageWrapper {
        grid-column: 8 / 23;
        @media (max-width: $maxLaptop) {
            order: 2;
            grid-column: 8 / 23;
        }
        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
        }
        img {
            display: block;
            @media (max-width: $maxLaptop) {
                width: 100%;
                max-width: 1024px;
                margin: 0 0 80px 0;
            }
            @media (max-width: $maxTablet) {
                grid-column: 4 / -4;
            }
        }
    }
}

.sectionHelped {
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    padding: 240px 0 175px;

    @media (max-width: $maxTablet) {
        padding: 150px 0;
    }

    .container {
        grid-column: var(--desktopWidth);
        display: inherit;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: min-content;

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: 1 / -1;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $maxMobile) {
            grid-template-columns: 1fr;
        }
    }

    .titleWrapper {
        margin: 0 0 90px;
        grid-column: 1 / -1;
        
        & p{
            max-width: 630px;
        }

        @media (max-width: $maxTablet) {
            margin: 0 0 60px;
            padding-left: calc(var(--cellSize) * 3);
        }
    }

    .item {
        min-height: 455px;
        padding: 86px 24px 60px 44px;
        transition: all .3s $cubic;
        position: relative;

        &:last-child {
            padding: 64px 24px 70px 44px;
            background-color: #FAFAFA;
        }

        &:hover:not(:last-child) {
            background-color: #F99F5F;

            .itemNumber,
            .itemTitle,
            .itemText {
                color: #fff;
                opacity: 1;
            }
        }

        @media (max-width: $maxTablet) {
            min-height: 368px;
            padding: 50px calc(var(--cellSize) * 3);

            &:last-child {
                padding: 30px calc(var(--cellSize) * 3);
            }
        }

        @media (max-width: $maxMobile) {
            min-height: 318px;
            padding: 40px calc(var(--cellSize) * 3);

            &:last-child {
                padding: 30px calc(var(--cellSize) * 3);
                min-height: 348px;
            }
        }
    }

    .itemNumber {
        color: #797D7E;
        margin: 0 0 32px;
        transition: all .3s $cubic;
    }

    .itemTitle {
        font-weight: 500;
        font-size: 24px;
        margin: 0 0 14px;
        transition: all .3s $cubic;
        letter-spacing: 0.39px;
    }

    .itemText {
        font-size: 16px;
        opacity: .9;
        letter-spacing: -0.4px;
        transition: all .3s $cubic;
        line-height: 24px;
        max-width: 290px;
    }

    .itemIcon {
        margin: 0 0 6px;
    }

    .itemSecondIcon {
        position: absolute;
        right: 44px;
        bottom: 48px;
    }
}

.sectionQuoteSecond {
    display: inherit;
    font-weight: 500;
    grid-template-columns: inherit;
    grid-column: 1 / -1;

    @media (max-width: $maxLaptop) {
        grid-column: 1 / -1;
        background: url(../../../static/assets/images/velonto/velonto_q.jpg) no-repeat;
        background-position: left top;
        background-size: cover;
    }
    @media (max-width: $minTablet){
        background: url(../../../static/assets/images/velonto/velonto_q.jpg) no-repeat;
        background-position: left top;
        background-size: cover;
    }

    @media (max-width: 620px) {
        background: url(../../../static/assets/images/velonto/velonto_q.jpg) no-repeat;
        background-position: left top;
        background-size: cover;
    }

    .container {
        display: inherit;
        grid-column: 3 / -3;
        background: url(../../../static/assets/images/velonto/velonto_q.jpg) no-repeat;
        background-position: left top;
        background-size: cover;
        justify-items: end;
        padding: 268px 0 175px;
        padding-right: calc(var(--cellSize) * 5);

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
            background: none;
        }

        @media (max-width: $maxTablet) {
            padding: 165px 0 102px;
            grid-column: 4 / -4;
        }

        @media (max-width: 620px) {
            padding: 493px 0 60px;
        }
    }

    .quoteWrapper {
        font-size: 29px;
        color: #181919;
        position: relative;
        max-width: 600px;
        grid-column: 2 / -1;
        line-height: 1.5;

        @media (max-width: $maxTablet) {
            font-size: 20px;
            max-width: 420px;
        }
    }

    .quote {
        position: absolute;
        top: -70px;
        left: 0;

        @media (max-width: $maxTablet) {
            top: -62px;
        }
    }
}

.sectionKey {
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    padding: 188px 0;

    @media (max-width: $maxTablet) {
        padding: 100px 0 120px;
        background: #4562C9;
        color: #fff;
    }

    .container {
        grid-column: var(--desktopWidth);

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
        }

        @media (max-width: $maxMobile) {
            grid-column: 1 / -1;
        }
    }

    .titleWrapper {
        margin: 0 0 85px;

        @media (max-width: $maxTablet) {
            margin: 0 0 30px;
            padding-left: 64px;
        }

        @media (max-width: $maxMobile) {
            padding-left: calc(var(--cellSize) * 3);
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: $maxTablet) {
            grid-template-columns: 1fr;
        }
    }

    .item {
        padding: 64px 10px 37px 54px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 490px;
        transition: all .3s $cubic;

        @media (max-width: $maxLaptop) {
            padding: 64px 10px 37px 44px;
        }

        @media (max-width: $maxTablet) {
            padding: 20px 10px 20px 64px;
            min-height: 150px;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
        }

        @media (max-width: $maxMobile) {
            padding: 40px calc(var(--cellSize) * 3) 60px;
        }

        &:hover {
            background-color: #4562C9;

            .itemTitle,
            .itemText,
            .itemNumber {
                color: #fff;
            }
        }
    }

    .itemTitle {
        font-size: 30px;
        margin: 0 0 30px;
        line-height: 1.6;
        max-width: 240px;
        font-weight: 600;
        letter-spacing: 0.52px;
        transition: all .3s $cubic;
        font-family: "PT Sans", sans-serif;

        @media (max-width: $maxTablet) {
            max-width: 400px;
            margin: 0 0 18px;
        }

        @media (max-width: $maxMobile) {
            font-size: 21px;
        }
    }

    .itemText {
        color: #313233;
        font-weight: 400;
        font-size: 18px;
        transition: all .3s $cubic;
        max-width: 280px;
        line-height: 1.8;

        @media (max-width: $maxTablet) {
            max-width: 540px;
            color: #fff;
        }
    }

    .itemNumber {
        color: #7F838D;
        font-weight: 500;
        transition: all .3s $cubic;
        font-size: 18px;

        @media (max-width: $maxTablet) {
            order: -1;
            padding: 0 50px 50px 0;
            margin: -10px 0 0 0;
            font-weight: 500;
        }
    }
}

.sectionResult {
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    padding: 164px 0 116px;
    background-color: #FAFAFA;

    @media (max-width: $maxTablet) {
        padding: 120px 0;
    }

    @media (max-width: $maxMobile) {
        padding: 100px 0;
    }

    .container {
        grid-column: var(--desktopWidth);
        display: flex;
        justify-content: space-between;

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
            flex-direction: column;
        }
    }

    .titleWrapper {
        margin: 0 0 30px;

        @media (max-width: $maxTablet) {
            margin: 0 0 20px;
        }

        @media (max-width: $maxMobile) {
            margin: 0 0 12px;
        }
    }

    .contentWrapper {
        max-width: 730px;
    }

    .descWrapper {
        margin: 0 0 70px;

        @media (max-width: $maxMobile) {
            margin: 0 0 60px;
        }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: $maxTablet) {
            display: flex;
            justify-content: space-between;
        }

        @media (max-width: $maxMobile) {
            flex-wrap: wrap;
        }
    }

    .item:not(:last-child) {
        margin: 0 15px 45px 0;
    }

    .itemLabel {
        color: #9C9EA5;
        letter-spacing: 1.5px;
        font-size: 13px;
        margin: 0 0 16px;

        @media (max-width: $maxMobile) {
            margin: 0 0 12px;
        }
    }

    .itemNumber {
        color: #111212;
        letter-spacing: .8px;
        font-size: 29px;
        font-weight: 500;

        @media (max-width: $maxMobile) {
            font-size: 21px;
        }
    }
}

.sectionScope {
    padding: 142px 0 120px;
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;

    @media (max-width: $maxLaptop) {
        padding: 120px 0;
    }

    .container {
        grid-column: var(--desktopWidth);

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
        }
    }

    .titleWrapper {
        margin: 0 0 26px;
        font-weight: 500;

        @media (max-width: $maxTablet) {
            margin: 0 0 30px;
        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: $maxTablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $maxMobile) {
            grid-template-columns: 1fr;
        }
    }

    .item {
        padding: 58px 34px 50px;

        @media (max-width: $maxLaptop) {
            padding: 58px 27px 50px;
        }

        @media (max-width: $maxTablet) {
            padding: 50px 16px;
            min-height: 360px;
        }

        @media (max-width: $maxMobile) {
            padding: 30px 24px;
            min-height: 180px;

            &:last-child {
                min-height: 270px;
            }
        }

        &:last-child {
            background-color: #FAFAFA;
        }
    }

    .itemTitle {
        font-size: 30px;
        font-weight: 500;
        margin: 0 0 24px;

        @media (max-width: $maxMobile) {
            font-size: 21px;
            margin: 0 0 10px;
        }
    }

    .list {
        li {
            margin: 0 0 16px;
            color: #313233;
            font-size: 22px;

            @media (max-width: $maxMobile) {
                font-size: 17px;
                margin: 0 0 2px;
            }

            a {
                padding: 0 0 5px 0;
                border-bottom: 3px solid #A4A9B6;
            }
        }
    }
}

.sectionGetIn {
    padding: 108px 0 106px;
    background-color: #4562C9;
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;

    .container {
        grid-column: var(--desktopWidth);
        display: flex;
        justify-content: space-between;

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
        }

        @media (max-width: $maxTablet) {
            flex-direction: column;
            grid-column: 6 / -6;
        }

        @media (max-width: $maxMobile) {
            grid-column: 4 / -4;
        } 
        p{
            font-size: 18px!important;
            font-weight: 500;
            text-transform: uppercase;
            @media (max-width: $maxMobile) {
                font-size: 16px;
                
            }
        }
        h2{
            font-size: 42px;
            max-width: 500px;
            @media (max-width: $maxLaptop) {
                font-size: 38px;
                
            }
    
            @media (max-width: $maxTablet) {
                font-size: 38px;
                
            }
            @media (max-width: $maxMobile) {
                font-size: 27px;
                
            }
        }
    }

    .contentWrapper {
        width: 720px;
        margin: 0 30px 0 0;
        color: #fff;

        @media (max-width: $maxTablet) {
            width: 100%;
            max-width: 720px;
            margin: 0 0 30px;
        }
    }

    .titleWrapper {
        margin: 0 0 14px;
    }

    .formWrapper {
        max-width: 670px;
        padding: 30px 0 0;
        width: 100%;
    }

    .form {
        width: 100%;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-column-gap: 35px;

        .inputWrapper {
            width: 45%;
            @media (max-width: $maxLaptop) {
                width: 45%;
            }
    
            @media (max-width: $maxTablet) {
                width: 100%;
            }
            @media (max-width: $maxMobile) {
                width: 100%;
                grid-column: span 3;

                &:first-child {
                    margin: 0 0 25px;
                }
            }
        }

        label {
            font-size: 13px;
            color: #fff;
            opacity: .7;
            margin: 0 0 14px;
            display: block;
        }

        .inputWrapperWidth{
            width: 100%;
            margin: 0;
            @media (max-width: $maxLaptop) {
                width: 100%;
                flex-direction: row;
                margin: 0;
            }
            // @media (max-width: $maxTablet) {
            //     width: 100%;
            //     flex-direction: row;
            //     margin: 25px 0 0 0;
            // }
            @media (max-width: $maxMobile) {
                margin: 25px 0 0 0;
            } 
            
        }

        .inputsWrapper{
            display: flex;
            justify-content: space-between;
            // flex-wrap: wrap;
            @media (max-width: $maxLaptop) {
                width: 100%;
                flex-direction: row;
            }
    
            @media (max-width: $maxTablet) {
                width: 100%;
                flex-direction: column;
            }
    
            @media (max-width: $maxMobile) {
                flex-direction: column;
            } 
        }
        .inputsWrapper>.inputWrapper input{
            width: 100%;
            // width: 250px;
    
            @media (max-width: $maxLaptop) {
                flex-direction: column;
                width: 100%;
                max-width: 660px;
            }
    
            @media (max-width: $maxTablet) {
                flex-direction: column;
            }
    
            @media (max-width: $maxMobile) {
                flex-direction: column;
            } 
        }
        input {
            padding: 10px 0;
            margin: 0 0 20px 0;
            color: #fff;
            border: none;
            font-weight: 500;
            border-bottom: 1px solid rgba(255, 255, 255, .4);
            font-size: 21px;
            background-color: transparent;
            box-shadow: none;
        }
        // .detailsInput{
        //     background: red;
        // }
        input:last-child{
            width: 100%;
            max-width: 660px;
        }
        input::placeholder{
            font-weight: 500;
            color: #fff!important;
        }
    }

    .btnWrapper {
        margin: 52px 0 0;
        grid-column: 1;
        display: flex;
        justify-content: flex-start;
    }

    .btn {
        width: 180px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        border-radius: 999px;
        color: #393939;
        background-color: #fff;
        font-family: "PT Sans", sans-serif;

        @media (max-width: $maxMobile) {
            width: 100%;
        }
    }
}

.sectionWorks {
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    padding: 100px 0 115px;
}

.sectionGotProject {
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1 / -1;

    .container {
        grid-column: var(--desktopWidth);
        border-top: 1px solid rgba(151, 151, 151, .16);
        padding: 78px 0 148px;
        font-size: 38px;

        @media (max-width: $maxLaptop) {
            grid-column: 5 / -5;
        }

        @media (max-width: $maxTablet) {
            grid-column: 4 / -4;
        }

        @media (max-width: $maxMobile) {
            padding: 75px 0 56px;
            font-size: 30px;
        }
    }

    .thin {
        font-weight: 300;
        margin: 0 0 14px;

        @media (max-width: $maxMobile) {
            margin: 0;
        }
    }

    .link {
        font-size: inherit;
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background: $lightGreen;
            position: absolute;
            bottom: -3px;
            left: 0;
            transition: all .3s $cubic;
            z-index: 1;
        }

        span {
            position: relative;
            z-index: 2;
        }

        &:hover:after {
            height: 56%;
        }
    }
}