@import "../../../../scss/variables.scss";

.worksSection{
	display: inherit;
	grid-template-columns: inherit;
	grid-column: 1 / -1;
	padding: 130px 0 0;
	@media (max-width: $maxTablet){
		padding: 112px 0 0;
	}
	@media (max-width: $minTablet){
		padding: 100px 0 0;
	}
	@media (max-width: $maxMobile){
		padding: 0;
	}
}

.buttonWrapper{
	grid-column: var(--mainWidth);
	width: 100%;
	display: flex;
	justify-content: flex-end;
	transform: translateY(-130px);
	@media (max-width: $maxTablet){
		transform: translateY(-112px);
	}
	@media (max-width: $minTablet){
		transform: translateY(-100px);
	}
	@media (max-width: $maxMobile){
		transform: translateY(0px);
		margin: 50px 0 0;
	}
}
