@import "../../../../scss/variables.scss";

.ourExpertise{
	display: inherit;
	grid-template-columns: inherit;
	grid-column: 1 / -1;
	padding: 232px 0;
	@media (max-width: $maxTablet){
		padding: 160px 0;
	}
	@media (max-width: $maxMobile){
		padding: 140px 0;
	}
}
.container{
	width: 100%;
	grid-column: var(--mainWidth);
	max-width: 910px;
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: auto 208px;
	grid-column-gap: 20px;
	margin-left: calc(var(--cellSize) * 4);
	@media (max-width: $maxLaptop){
			margin-left: 0;
			max-width: 790px;
	}
	@media (max-width: $maxMobile){
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}
}
.contentWrapper{
	grid-column: 1 / 2;
	max-width: 490px;
	@media (max-width: $maxTablet){
		max-width: 440px;
	}
	@media (max-width: $minTablet){
		max-width: 340px;
	}
	@media (max-width: $maxMobile){
		grid-column: 1 / 3;
	}
}
.contentTitle{
	margin: 0 0 30px;
	@media (max-width: $maxTablet){
		margin: 0 0 20px;
	}
}
.contentDesc{
	margin: 0 0 50px;
	font-size: var(--fsL);
	@media (max-width: $maxMobile){
		margin: 0 0 40px;
	}
}
.listWrapper{
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	@media (max-width: $maxMobile){
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		margin: 0 0 40px;
	}
}
.listTitle{
	margin: 0 0 16px;
}
.listItems{
	@media (max-width: $maxMobile){
		display: flex;
		flex-wrap: wrap;
	}
}
.listItems li{
	margin: 0 0 10px;
	@media (max-width: $minTablet){
		margin: 0 0 6px;
	}
	@media (max-width: $maxMobile){
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		margin: 0 0 10px;
		width: 50%;
	}
}
.listItems a{
	border-bottom: 3px solid var(--gray400);
	font-size: var(--fsL);
	transition: all .3s ease-in-out;
	&:hover{
		border-color: var(--black);
	}
}

.contentBtn{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	@media (max-width: $maxMobile){
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}
}

