@import "../../../scss/variables.scss";

.footer {
	display: inherit;
	grid-template-columns: inherit;
	grid-column: 1 / -1;
	padding-top: 100px;
	@media (max-width: $maxTablet){
		padding-top: 70px;
	}
}

.footerTop {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 80px;
	@media (max-width: $minTablet){
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 40px;
	}
}

.row {
	grid-column: var(--mainWidth);
}

.title {
	font-weight: 500;
	margin: 0 0 6px;
}

.footerList li{
	margin: 0 0 8px;
}
.footerList .listItem{
	border-bottom: 2px solid var(--gray400);
	transition: all .3s ease-in-out;
}

.footerList .listItem:hover{
	border-color: inherit;
}

.socials{
	margin-left: 58px;
	@media (max-width: $minTablet){
		margin-left: 40px;
	}
	@media (max-width: $maxMobile){
		margin-left: 0;
		order: -1;
		margin-bottom: 26px;
	}
}
.socials ul{
	display: flex;
	align-items: center;
}
.socials li:not(:last-child) {
	margin-right: 30px;
	display: flex;
	align-items: center;
	@media (max-width: $maxMobile){
		margin-right: 24px;
	}
}

.socials .social {
	font-size: 0;
	display: block;
}

.social svg{
	transition: all .3s ease-in-out;
	fill: var(--gray700);
	pointer-events: none;
}
.social:hover svg{
	fill: var(--black);
}

.footerBottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid rgba(151, 151, 151, 0.1);
	padding: 28px 0;

	@media (max-width: $maxTablet) {
		padding: 18px 0;
	}
	@media (max-width: $maxMobile){
		padding: 28px 0 18px;
	}
}

.logo{
	@media (max-width: $maxMobile){
		display: none;
	}
}

.footerBottom .links{
	display: flex;
	align-items: center;
	@media (max-width: $maxMobile){
		flex-direction: column;
		margin: auto;
	}
}

.links span{
	color: var(--gray700);
}

