.slider{
	position: relative;
	min-width: 0;
	min-height: 0;
}
.slide{
	display: flex;
	align-items: center;
	outline: none;
	padding-right: 20px;
}
.slideImage{
	margin: 0 calc(var(--cellSize) * 3);
}
.slideImage img{
	object-fit: cover;
}
.reviews{
	font-size: var(--fsM);
	font-weight: 500;
	margin: 0 0 80px;
}
.comment{
	max-width: 490px;
	margin: 0 0 60px;
}
.position{
	font-size: var(--fsM);
	margin: 6px 0 0;
}
.position a{
	border-bottom: 2px solid var(--gray400);
	position: relative;
	z-index: 10;
	margin-left: 2px;
}
.btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.prev{
	left: calc( -1 * var(--cellSize));
}
.next{
	right: calc( -1 * var(--cellSize));
	transform: translateY(-50%) rotate(180deg);
}