@import "../../../scss/variables.scss";

.slider{
	position: relative;
	min-width: 0;
	min-height: 0;
}
.slide{
	display: flex;
	align-items: center;
	outline: none;
	padding-right: 20px;
	@media (max-width: $maxMobile){
		padding-right: 0;
		flex-direction: column;
	}
}
.slideImage{
	margin: 0 calc(var(--cellSize) * 3);
	max-width: 455px;
	height: 576px;
	width: 100%;
	position: relative;
	@media (max-width: $maxTablet){
		margin: 0 calc(var(--cellSize) * 2);
		height: 440px;
		max-width: 352px;
	}
	@media (max-width: $minTablet){
		margin: 0 calc(var(--cellSize) * 2) 0 0;
		height: 414px;
		max-width: 290px;
	}
	@media (max-width: $maxMobile){
		margin: 0 0 70px;
		height: 290px;
		max-width: 100%;
	}
}
.slideImage span{
	display: block;
	width: inherit;
	height: inherit;
}
.slideImage img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.reviews{
	font-size: var(--fsM);
	font-weight: 500;
	margin: 0 0 80px;
	@media (max-width: $maxTablet){
		margin: 0 0 60px;
	}
	@media (max-width: $maxMobile){
		margin: 0 0 40px;
	}
}
.comment{
	max-width: 490px;
	margin: 0 0 60px;
	@media (max-width: $maxTablet){
		margin: 0 0 40px;
		max-width: 370px;
	}
	@media (max-width: $minTablet){
		margin: 0 0 40px;
		max-width: 320px;
	}
	@media (max-width: $maxMobile){
		margin: 0 0 40px;
		max-width: 400px;
	}
}
.author{
	@media (max-width: $minTablet){
		position: relative;
	}
}
.position{
	font-size: var(--fsM);
	margin: 6px 0 0;
}
.position a{
	border-bottom: 2px solid var(--gray400);
	position: relative;
	z-index: 10;
	margin-left: 2px;
}
.btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 34px;
	height: 34px;
	z-index: 10;
	@media (max-width: $minTablet){
		height: 24px;
		width: 24px;
		top: 0;
		transform: translateY(0);
	}
}
.btn svg{
	fill: var(--gray600);
	transition: all .3s ease-in-out;
}
.btn:hover svg{
	fill: var(--black);
}
.prev{
	left: 0;
	@media (max-width: $minTablet){
		left: inherit;
		right: 40px;
	}
}
.next{
	right: 0;
	transform: translateY(-50%) rotate(180deg);
	@media (max-width: $minTablet){
		transform: rotate(180deg);
	}
}