@import "../../../scss/variables.scss";

.partners{
	margin: 100px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $minTablet){
		margin: 60px 0 0;
		overflow-x: auto;
		justify-content: flex-start;
		scroll-snap-type: x mandatory;
	}
}
.partners li{
	height: 48px;
	@media (max-width: $minTablet){
		margin: 0 70px 0 0;
		flex-shrink: 0;
		scroll-snap-align: center;
	}
	@media (max-width: $maxMobile){
		margin: 0 56px 0 0;
		height: 34px;
	}
}
.partners img{
	height: 48px;
	@media (max-width: $maxMobile){
		height: 34px;
	}
}