@import "../../../../scss/variables.scss";

.aboutUsSection{
	display: inherit;
	grid-template-columns: inherit;
	grid-column: 1 / -1;
	padding: 180px 0;
	background-color: var(--gray300);
	@media (max-width: $maxTablet){
		padding: 140px 0;
	}
}
.container{
	grid-column: var(--mainWidth);
	margin-left: calc(var(--cellSize) * 4);
	max-width: 964px;
	width: 100%;
	display: grid;
	grid-template-columns: 490px 175px;
	grid-column-gap: 20px;
	justify-content: space-between;
	@media (max-width: $maxLaptop){
			margin-left: 0;
			max-width: 850px;
	}
	@media (max-width: $minTablet){
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}
}
.contentWrapper{
	width: 100%;
	@media (max-width: $minTablet){
		max-width: 490px;
	}
}
.topRated{
	display: flex;
	align-items: center;
	margin: 0 0 20px;
}
.topRated span{
	margin-left: 10px;
	font-size: var(--fsM);
	font-weight: 500;
}
.titleWrapper{
	margin: 0 0 20px;
}
.descWrapper{
	font-size: var(--fsM);
	margin: 0 0 62px;
	@media (max-width: $maxTablet){
		margin: 0 0 50px;
	}
}
.btnWarapper{
	grid-row: 2 / 3;
	@media (max-width: $minTablet){
		grid-row: 3 / 4;
	}
}
.statistics{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-row: 1 / 3;
	grid-column: 2 / 3;
	@media (max-width: $minTablet){
		grid-column: span 1;
		grid-row: 2 / 3;
		flex-direction: row;
		width: 100%;
		max-width: 550px;
		margin: 0 0 70px;
	}
}
.item{
	white-space: nowrap;
	font-size: 18px;
	@media (max-width: $minTablet){
		font-size: 16px;
	}
}
.item .number{
	font-size: 36px;
	font-weight: bold;
	line-height: 1.4;
	@media (max-width: $maxTablet){
		font-size: 32px;
	}
	@media (max-width: $minTablet){
		font-size: 24px;
	}
}

