.subscribeButton {
  background-color: #30fddc;
  color: #393939;
  border: none;
  display: block;
  height: 54px;
  padding: 0 45px;
  margin-left: auto;
  font-family: "pt_sansbold";
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}
