@import '../../../scss/variables.scss';

.backgroundSection{
	display: inherit;
	grid-column: var(--mainWidth);
	width: 100%;
	height: 688px;
	@media (max-width: $maxTablet){
		grid-column: 1 / -1;
		height: 470px;
	}
	@media (max-width: $maxMobile){
		height: 310px;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
