@import '../../../../scss/variables.scss';

.contentWrapper{
    grid-column: 1 / -1;
    display: inherit;
	grid-template-columns: inherit;
	scroll-snap-align: start;
}
.image{
    grid-column: 1 / -4;
    padding: 500px 0 0;
    position: relative;
    @media (max-width: $maxMobile){
        padding: 320px 0 0;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}
.content{
	grid-column: var(--mainWidth);
	max-width: 540px;
    padding: 90px 0 140px;
    @media (max-width: $maxMobile){
        padding: 80px 0 145px;
    }
}
.desc{
    font-size: 16px;
	margin: 12px 0 20px;
	max-width: 480px;
}
.list{
	margin: 0 0 40px;
    li{
        font-size: 16px;
        margin: 0 0 6px;
		position: relative;
		display: flex;
		align-items: center;
        &:before{
            content: '-';
			display: block;
			margin: 0 4px;
        }
    }
    
}