@import '../../../scss/variables.scss';

.row {
	display: inherit;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	grid-column-gap: calc(var(--cellSize) * 2);
	grid-column: var(--mainWidth);
	grid-row: 1 / 2;
	@media (max-width: $maxMobile) {
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}
}

.item {
	margin: 0 0 72px;
	@media (max-width: $maxTablet) {
		margin: 0 0 44px;
	}
	@media (max-width: $minTablet) {
		margin: 0 0 32px;
	}
	@media (max-width: $maxMobile) {
		margin: 0 0 16px;
	}
}

.item .image {
	position: relative;
	padding: 127% 0 0;
	height: 0;
	overflow: hidden;
	transition: all .3s $cubic;
	pointer-events: none;
}
.item span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.item:nth-child(even) {
	transform: translateY(-130px);
	@media (max-width: $maxTablet) {
		transform: translateY(-112px);
	}
	@media (max-width: $minTablet) {
		transform: translateY(-100px);
	}
	@media (max-width: $maxMobile) {
		transform: translateY(0);
	}
}

.item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all .3s $cubic;
	pointer-events: none;
}
.item:nth-child(2) .wrapper{
	color: var(--white);
}

.item:nth-child(4) img{
	object-position: left top;
}

.item .desc {
	font-size: 18px;

	@media (max-width: $minTablet){
		font-size: 16px;
	}
}

.item .wrapper {
	pointer-events: none;
	position: absolute;
	top: 58px;
	left: 48px;
	@media (max-width: $maxTablet) {
		top: 44px;
		left: 34px;
	}
	@media (max-width: $minTablet){
		top: 30px;
		left: 20px;
	}
}

.titleWrapper{
	margin: 0 0 8px;
	@media (max-width: $maxMobile){
		margin: 0 0 6px;
	}
}

.item .link {
	display: block;
	position: relative;
	z-index: 1;

	&:hover {
		image {
			transform: scale(.95);
		}

		img {
			transform: scale(1.15);
		}
	}
}