@import "../../../../scss/variables.scss";

.capabilities{
	display: inherit;
	grid-template-columns: inherit;
	grid-column: 1 / -1;
	padding: 220px 0 260px;
	@media (max-width: $maxTablet){
		padding: 130px 0 240px;
	}
	@media (max-width: $minTablet){
		padding: 140px 0;
	}
	@media (max-width: $maxMobile){
		padding: 110px 0;
	}
}
.container{
	grid-column: var(--mainWidth);
	margin-left: calc(var(--cellSize) * 4);
	@media (max-width: $maxTablet){
		margin-left: 0;
	}
}
.titleWrapper{
	max-width: 590px;
	margin: 0 0 80px;
	@media (max-width: $maxTablet){
		max-width: 420px;
	}
	@media (max-width: $maxMobile){
		max-width: 340px;
	}
}

.titleWrapper p{
	margin: 20px 0 0;
	font-size: var(--fsL);
}

.capabilities ul{
	margin: 0;
} 