@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.MoreInteresting {
  display: inherit;
  grid-template-columns: inherit;
  grid-column: 1 / -1;
  padding: 200px 0 123px;

  @media (max-width: 768px) {
    padding-top: 120px;
  }
  @media (max-width: $maxMobile) {
    padding-bottom: 60px;
  }
}

.wrapTop {
  grid-column: 8 / -8;
  margin-bottom: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $maxLaptop) {
    grid-column: 5 / -5;
  }
  @media (max-width: $maxMobile) {
    grid-column: 8 / -8;
    margin-bottom: 49px;
    align-items: flex-start;
    flex-direction: column;
  }
}

.title {
  display: inline-block;
  color: #111212;
  font-size: 50px;
  font-weight: normal;
  line-height: 65px;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $maxTablet) {
    font-size: 30px;
  }
  @media (max-width: $maxMobile) {
    display: block;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
  }
}

.link,
.linkBottom {
  color: #111212;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  border-bottom: solid 2px #30fddc;
}

.link {
  @media (max-width: $maxMobile) {
    // display: none;
  }
}

// .linkBottom {
//   display: none;
//   @media (max-width: $maxMobile) {
//     display: block;
//     padding-top: 24px;
//     grid-column: 4 / -35;
//   }
// }

.advices {
  grid-column: 8 / -8;
  display: inherit;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #eee;
  padding-bottom: 120px;

  @media (max-width: $maxLaptop) {
    grid-column: 5 / -4;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / -3;
  }
  @media (max-width: $maxMobile) {
    grid-column: 4 / -4;
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }

  a {
    padding: 87px 87px 111px 107px;
    transition: background 0.3s ease-in-out;

    @media (max-width: $maxLaptop) {
      padding: 87px 72px 111px 81px;
    }
    @media (max-width: $maxTablet) {
      padding: 46px 17px 47px 32px;
    }
    &:first-of-type {
      @media (max-width: $maxTablet) {
        padding: 46px 48px 47px 32px;
      }
    }
    p {
      color: #9fa4a6;
      font-family: "pt_sansregular";
      font-size: 16px;
      letter-spacing: 0.3px;
      line-height: 33px;
      &:first-of-type {
        margin-bottom: 10px;
        @media (max-width: $maxMobile) {
          margin-bottom: 28px;
        }
      }
      &:last-of-type {
        margin-bottom: 38px;
      }
    }

    h2 {
      color: #111212;
      font-size: 38px;
      letter-spacing: 0.7px;
      font-weight: normal;
      line-height: 57px;
      margin-bottom: 30px;
      @media (max-width: $maxTablet) {
        font-size: 29px;
        letter-spacing: 0.54px;
        line-height: 41px;
      }
      @media (max-width: $maxMobile) {
        font-size: 21px;
        letter-spacing: 0.39px;
        line-height: 31px;
        margin-bottom: 35px;
      }
    }
    &:hover {
      background: #54ffd7;
    }
  }
}
