@import "../../../scss/variables.scss";

.letsTalk{
	display: inherit;
	grid-column: var(--mainWidth);
	text-align: center;
	justify-items: center;
	padding: 160px 0;
	@media (max-width: $maxTablet){
		padding: 140px 0;
	}
}
.gotProject{
	font-size: var(--fsL);
	text-align: center;
	margin: 0 0 20px;
}
.email{
	font-size: 70px;
	font-weight: 500;
	margin: 0 0 40px;
	@media (max-width: $maxTablet){
		font-size: 56px;
	}
}
.btnWrapper{
	display: flex;
	justify-content: center;
}