@import "../../../scss/variables.scss";

.letsTalk{
	display: inherit;
	grid-column: var(--mainWidth);
	text-align: center;
	justify-items: center;
	padding: 160px 0;
	@media (max-width: $maxTablet){
		padding: 140px 0;
	}
	@media (max-width: $maxMobile){
		padding: 110px 0;
	}
}
.gotProject{
	font-size: var(--fsL);
	text-align: center;
	margin: 0 0 20px;
	@media (max-width: $minTablet){
		margin: 0 0 10px;
	}
}
.email{
	font-size: 70px;
	font-weight: 500;
	margin: 0 0 40px;
	@media (max-width: $maxTablet){
		font-size: 56px;
	}
	@media (max-width: $minTablet){
		font-size: 44px;
		margin: 0 0 20px;
	}
	@media (max-width: $maxMobile){
		font-size: 30px;
	}
}
.btnWrapper{
	display: flex;
	justify-content: center;
}