@import "../../../../scss/variables.scss";

.servicesHero{
	display: inherit;
	grid-template-columns: inherit;
	grid-column: 1 / -1;
	min-height: 100vh;
	padding: 304px 0 142px;
	@media (max-width: $maxTablet){
		padding: 230px 0 120px;
	}
	@media (max-width: $minTablet){
		padding: 230px 0 100px;
	}
	@media (max-width: $maxMobile){
		font-size: 230px 0 70px;
	}
}
.container{
	grid-column: var(--mainWidth);
}
.heroContent{
	max-width: 890px;
	@media (max-width: $maxTablet){
		max-width: 723px;
	}
	@media (max-width: $minTablet){
		max-width: 575px;
	}
	@media (max-width: $maxMobile){
		max-width: 336px;
	}
}	
.heroTitle{
	margin: 0 0 20px;
}
.heroDesc{
	font-size: var(--fsL);
	max-width: 660px;
}