
:root {
	--cells: 48;
	--cellSize: calc(100vw / var(--cells));
	--spacing: calc(var(--cellSize) * 8);
	--desktopWidth: 8 / -8;
	--tabletWidth: 4 / -4;
	--newWidth: 6 / -6;
}

:root{
	--black: #141515;
}


//color
$black: #111212;
$gray: #9FA4A6;
$darkGray: #797D7E;
$lightGreen: #30FDDC;
$lightGray: rgba(157, 157, 157, 0.158);
$blue: #4361CB;

//animation
$cubic: ease-in-out;

// media 
$maxDesktop: 1680px;
$minDesktop: 1440px;
$maxLaptop: 1296px;
$maxTablet: 1080px;
$minTablet: 768px;
$maxMobile: 767px;
$minMobile: 384px;